{% extends '_layout.' + getConfig('viewExtension') %} {% block content %} {% if messages.error %}
<div class="alert alert-danger">{{ messages.error }}</div>
{% endif %}
<div class="container banner-box">
  <div class="row">
    <div class="col-md-9 no-padding">
      <!--BANNER SLIDER-->
      {{ getSidebar("slider") | async | safe }}
      <!--END BANNER SLIDER-->
    </div>

    <!--make this one a side bar blog-->
    <div class="col-md-3 news-box ">
      <!--SIDE BAR BLOG-->
      {{ getSidebar("blog-sidebar") | async | safe }}
      <!--END SIDE BAR BLOG-->
    </div>
  </div>
  <!-- end row -->
</div>
<!--container -->

<section class="container">
  <!--make these ones product sliders-->
  <div class="row mot-hang">
    <a href="/dien-thoai" class="big-title">SẢN PHẨM BÁN CHẠY</a>
    <span></span>
  </div>
  <!-- end -row -->

  <div class="row">
    <div class="owl-carousel">
      {% for product in products %}
      <div class="owl-carousel-slide">
        <div class="product-box ph">
          <img src="{{ product.images | getImage(0) }}">
          <div class="name-price">
            <p class="name-product">{{ product.title | title(30,'...') | safe }}</p>
            <p class="price-product">{{ product.price| vnd('vi-VN')}} </p>
            <div class="info-product info-ph">
              <div>
                <p>{{ product.title | title(30,'...') | safe }}</p>
                <p>{{ product.price| vnd('vi-VN')}}</p>
              </div>
              <a href="/products/detail/{{product.id}}" class="watch">Xem chi tiết</a>
              <span class="buy"><a href="javascript:add_cart({{ product.id }})">Mua hàng</a></span>
              <span class="buy added">Đã thêm vào giỏ hàng</span>
            </div>
            <!-- end info-box -->
          </div>
          <!-- end name-price -->
        </div>
        <!-- end product-box -->
      </div>
      {% endfor %}
    </div>
    <!-- end owl-carousel -->
  </div>
  <!-- end row -->

  <div class="quang-cao-nho">
    <a class="row" href="">
				<img class="col-md-6 col-xs-12" src="/frontend/Mobileshop/assets/images/pk15.png">
				<img class="col-md-6 col-xs-12" src="/frontend/Mobileshop/assets/images/pk16.png">
			</a>
  </div>
  <!-- HẾT HÀNG NÀY RÔI / HẾT HÀNG NÀY RÔI / HẾT HÀNG NÀY RÔI / HẾT HÀNG NÀY RÔI /-->

  <div class="row mot-hang">
    <a href="/dien-thoai" class="big-title">SẢN PHẨM MỚI</a>
    <span></span>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="owl-carousel">
      {% for product in news %}
      <div class="owl-carousel-slide">
        <div class="product-box ph">
          <img src="{{ product.images | getImage(0) }}">
          <div class="name-price">
            <p class="name-product">{{ product.title | title(30,'...') | safe }}</p>
            <p class="price-product">{{ product.price| vnd('vi-VN')}} </p>
            <div class="info-product info-ph">
              <div>
                <p>{{ product.title | title(30,'...') | safe }}</p>
                <p>{{ product.price| vnd('vi-VN')}}</p>
              </div>
              <a href="/products/detail/{{product.id}}" class="watch">Xem chi tiết</a>
              <span class="buy"><a href="javascript:add_cart({{ product.id }})">Mua hàng</a></span>
              <span class="buy added">Đã thêm vào giỏ hàng</span>
            </div>
            <!-- end info-box -->
          </div>
          <!-- end name-price -->
        </div>
        <!-- end product-box -->
      </div>
      {% endfor %}
    </div>
    <!-- end owl-carousel -->
  </div>
  <!-- end row -->

  <div class="quang-cao-nho">
    <a class="row" href="">
				<img class="col-md-6 col-xs-12" src="/frontend/Mobileshop/assets/images/pk13.png">
				<img class="col-md-6 col-xs-12" src="/frontend/Mobileshop/assets/images/pk14.png">
			</a>
  </div>

  <div class="row mot-hang">
    <a href="/phu-kien" class="big-title">PHỤ KIỆN</a>
    <span></span>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="owl-carousel">
      {% for product in olds %}
      <div class="owl-carousel-slide">
        <div class="product-box ph">
          <img src="{{ product.images | getImage(0) }}">
          <div class="name-price">
            <p class="name-product">{{ product.title | title(30,'...') | safe }}</p>
            <p class="price-product">{{ product.price| vnd('vi-VN')}} </p>
            <div class="info-product info-ph">
              <div>
                <p>{{ product.title | title(30,'...') | safe }}</p>
                <p>{{ product.price| vnd('vi-VN')}}</p>
              </div>
              <a href="/products/detail/{{product.id}}" class="watch">Xem chi tiết</a>
              <span class="buy"><a href="javascript:add_cart({{ product.id }})">Mua hàng</a></span>
              <span class="buy added">Đã thêm vào giỏ hàng</span>
            </div>
            <!-- end info-box -->
          </div>
          <!-- end name-price -->
        </div>
        <!-- end product-box -->
      </div>
      {% endfor %}
    </div>
    <!-- end owl-carousel -->
  </div>
  <!-- end row -->

  <div class="quang-cao-nho">
    <a class="row" href="">
				<img class="col-md-6 col-xs-12" src="/frontend/Mobileshop/assets/images/pk11.png">
				<img class="col-md-6 col-xs-12" src="/frontend/Mobileshop/assets/images/pk12.png">
			</a>
  </div>
  <!-- end row -->
  <!-- HẾT HÀNG NÀY RÔI / HẾT HÀNG NÀY RÔI / HẾT HÀNG NÀY RÔI / HẾT HÀNG NÀY RÔI /-->

  <div class="row mot-hang">
    <a href="" class="big-title">VIDEO TRẢI NGHIỆM</a>
    <span></span>
  </div>
  <!-- end -row -->

  <div class="row main-video-box">
    <div class="col-md-4 col-sm-6 col-sx-12 col1">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kLaYZtTJ_qk" frameborder="0" allowfullscreen>></iframe>
      </div>
      <p class="title">Trên tay Samsung Galaxy S7 Edge Blue Coral Mỹ giá cực tốt, có 4G</p>
      <p class="text">Galaxy Note 7 gây ấn tượng với màu xanh Blue Coral độc đáo, và Samsung đã mang lên chiếc Galaxy S7 Edge. Với hàng Mỹ
        thì mức giá cực kì tốt và hoàn toàn sử dụng được 4G tại Việt Nam.</p>
    </div>
    <div class="col-md-4 col-sm-6 col2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0aEYlJRfza8" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="title">Đại chiến LG G6 và Samsung Galaxy S7 | S7 Edge</p>
      <p class="text">LG G6 mới ra mắt và Galaxy S7|S7 Edge đã ra mắt được một năm, đâu sẽ là sản phẩm mạnh mẽ hơn về cấu hình khi mà G6
        không sở hữu những thông số khủng nhất?</p>
    </div>
    <div class="col-md-4 col-sm-6 col3">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ukFaQivsA7g" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="title">Hàn Xẻng đại chiến: W S1 Mobile và Galaxy J7 Prime</p>
      <p class="text">W S1 Mobile có cấu hình cực tốt trong mức giá trong khi J7 Prime có mức giá cao hơn. Với mức giá chênh lệch giữa 2
        sản phẩm chính hãng thì đâu là smartphone đáng để lựa chọn về hiệu năng?</p>
    </div>
  </div>
  <!-- end row-->
  <!-- HẾT 1 HÀNG RỒI / HẾT 1 HÀNG RỒI / HẾT 1 HÀNG RỒI/ HẾT 1 HÀNG RỒI/ HẾT 1 HÀNG RỒI/ HẾT 1 HÀNG RỒI -->

</section>

{% endblock %}